Repository vinculacion-yavirac/frontend-vinculacion, pull requests merged in 2023-01, with the labels that each got.

#188 Feature/dv/179 proyecto solicitud
  frontend-vinculacion/src/app/pages/docente-vinculacion/solicitud-vinculacion/solicitud-vinculacion.component.css
  frontend-vinculacion/src/app/pages/docente-vinculacion/solicitud-vinculacion/solicitud-vinculacion.component.html
  frontend-vinculacion/src/app/shared/sidebar/sidebar.component.html
Labels: docente vinculacion, ready to approve, portafolio

#169 feat:crear pantalla encuesta
  frontend-vinculacion/src/app/pages/encuesta/encuesta.component.css
  frontend-vinculacion/src/app/pages/encuesta/encuesta.component.html
Labels: ready to approve, encuesta(documento 8), generación de reportes

#190 fix:solucionar responsive en siderbar
  frontend-vinculacion/src/app/shared/sidebar/sidebar.component.html
  package-lock.json
Labels: docente vinculacion, ready to approve, portafolio

#193 Bug/dv/191 routing
  frontend-vinculacion/src/app/app-routing.module.ts
  frontend-vinculacion/src/app/app.component.html
  frontend-vinculacion/src/app/app.module.ts
  frontend-vinculacion/src/app/pages/coordinador-carrera/agregar-rol/agregar-rol.component.html
  frontend-vinculacion/src/app/pages/coordinador-carrera/lista-estudiantes/lista-estudiantes.component.html
  frontend-vinculacion/src/app/pages/coordinador-carrera/lista-portafolios/lista-portafolios.component.html
  frontend-vinculacion/src/app/pages/coordinador-carrera/redireccionar/redireccionar.component.html
  frontend-vinculacion/src/app/pages/coordinador-carrera/rellenar-datos/rellenar-datos.component.html
  frontend-vinculacion/src/app/pages/coordinador-general/lista-estudiantes-general/lista-estudiantes-general.component.html
  frontend-vinculacion/src/app/pages/coordinador-general/portafolio/portafolio.component.html
  frontend-vinculacion/src/app/pages/coordinador-general/solicitud-certificado/solicitud-certificado.component.html
  frontend-vinculacion/src/app/pages/dashboard/dashboard.component.css
  frontend-vinculacion/src/app/pages/dashboard/dashboard.component.html
  frontend-vinculacion/src/app/pages/dashboard/dashboard.component.spec.ts
  frontend-vinculacion/src/app/pages/dashboard/dashboard.component.ts
  frontend-vinculacion/src/app/pages/desboard/desboard.component.html
  frontend-vinculacion/src/app/pages/desboard/desboard.component.ts
  frontend-vinculacion/src/app/pages/docente-tutor/formulario-final-tutor/formulario-final-tutor.component.html
  frontend-vinculacion/src/app/pages/docente-tutor/lista-estudiantes-tutor/lista-estudiantes-tutor.component.html
  frontend-vinculacion/src/app/pages/docente-tutor/lista-fundacion-tutor/lista-fundacion-tutor.component.html
  frontend-vinculacion/src/app/pages/docente-tutor/portafolio-tutor/portafolio-tutor.component.html
  frontend-vinculacion/src/app/pages/docente-vinculacion/asignar-fundacion-vinculacion/asignar-fundacion-vinculacion.component.html
  frontend-vinculacion/src/app/pages/docente-vinculacion/configuracion-vinculacion/configuracion-vinculacion.component.html
  frontend-vinculacion/src/app/pages/docente-vinculacion/portafolio-vinculacion/portafolio-vinculacion.component.html
  frontend-vinculacion/src/app/pages/docente-vinculacion/proyecto-vinculacion/proyecto-vinculacion.component.html
  frontend-vinculacion/src/app/pages/docente-vinculacion/solicitud-vinculacion/solicitud-form/solicitud-form.component.css
  frontend-vinculacion/src/app/pages/docente-vinculacion/solicitud-vinculacion/solicitud-form/solicitud-form.component.html
  frontend-vinculacion/src/app/pages/docente-vinculacion/solicitud-vinculacion/solicitud-form/solicitud-form.component.spec.ts
  frontend-vinculacion/src/app/pages/docente-vinculacion/solicitud-vinculacion/solicitud-form/solicitud-form.component.ts
  frontend-vinculacion/src/app/pages/docente-vinculacion/solicitud-vinculacion/solicitud-vinculacion.component.html
  frontend-vinculacion/src/app/pages/docente-vinculacion/solicitud-vinculacion/solicitud-vinculacion.component.spec.ts
  frontend-vinculacion/src/app/pages/docente-vinculacion/solicitud-vinculacion/solicitud-vinculacion.component.ts
  frontend-vinculacion/src/app/pages/encuesta/encuesta.component.html
  frontend-vinculacion/src/app/pages/estudiante/estudiante-portafolio/estudiante-portafolio.component.html
  frontend-vinculacion/src/app/pages/estudiante/estudiante/estudiante.component.html
  frontend-vinculacion/src/app/pages/estudiante/informe-final-estudiante/informe-final-estudiante.component.html
  frontend-vinculacion/src/app/pages/informe-control/avance-cumplimiento/avance-cumplimiento.component.html
  frontend-vinculacion/src/app/pages/informe-control/observacion-avance/observacion-avance.component.html
  frontend-vinculacion/src/app/pages/pages-routing.module.ts
  frontend-vinculacion/src/app/pages/pages.component.css
  frontend-vinculacion/src/app/pages/pages.component.html
  frontend-vinculacion/src/app/pages/pages.component.ts
  frontend-vinculacion/src/app/pages/pages.module.ts
  frontend-vinculacion/src/app/shared/breadcrumbs/breadcrumbs.component.html
  frontend-vinculacion/src/app/shared/header/header.component.css
  frontend-vinculacion/src/app/shared/header/header.component.html
  frontend-vinculacion/src/app/shared/main/main.component.css
  frontend-vinculacion/src/app/shared/main/main.component.html
  frontend-vinculacion/src/app/shared/main/main.component.spec.ts
  frontend-vinculacion/src/app/shared/main/main.component.ts
  frontend-vinculacion/src/app/shared/shared-routing.module.ts
  frontend-vinculacion/src/app/shared/shared.module.ts
  frontend-vinculacion/src/app/shared/sidebar/sidebar.component.html
  frontend-vinculacion/src/index.html
Labels: confirmed, docente vinculacion, portafolio

#194 feat: creacion de pantalla portafolio tutor html y css
  frontend-vinculacion/src/app/pages/docente-tutor/portafolio-tutor/portafolio-tutor.component.css
  frontend-vinculacion/src/app/pages/docente-tutor/portafolio-tutor/portafolio-tutor.component.html
  frontend-vinculacion/src/assets/image/descarga.png
  frontend-vinculacion/src/assets/image/enviar.png
  frontend-vinculacion/src/assets/image/subir.png
Labels: confirmed, docente tutor, portafolio

#197 feat:crear tabal responsive en solicitud
  frontend-vinculacion/src/app/pages/docente-vinculacion/solicitud-vinculacion/solicitud-form/solicitud-form.component.css
  frontend-vinculacion/src/app/pages/docente-vinculacion/solicitud-vinculacion/solicitud-form/solicitud-form.component.html
  frontend-vinculacion/src/app/shared/shared-routing.module.ts
Labels: confirmed, docente vinculacion, portafolio

#207 fix.solucionar routing dashboard
  frontend-vinculacion/src/app/app-routing.module.ts
  frontend-vinculacion/src/app/pages/pages-routing.module.ts
  frontend-vinculacion/src/app/shared/shared-routing.module.ts
Labels: confirmed, docente vinculacion, portafolio

#208 Feature/dv/198 vinculacion search
  frontend-vinculacion/src/app/pages/docente-vinculacion/solicitud-vinculacion/solicitud-form/solicitud-form.component.html
  frontend-vinculacion/src/app/pages/docente-vinculacion/solicitud-vinculacion/solicitud-search/solicitud-search.component.css
  frontend-vinculacion/src/app/pages/docente-vinculacion/solicitud-vinculacion/solicitud-search/solicitud-search.component.html
  frontend-vinculacion/src/app/pages/docente-vinculacion/solicitud-vinculacion/solicitud-search/solicitud-search.component.spec.ts
  frontend-vinculacion/src/app/pages/docente-vinculacion/solicitud-vinculacion/solicitud-search/solicitud-search.component.ts
  frontend-vinculacion/src/app/pages/pages.module.ts
Labels: confirmed, docente vinculacion, portafolio

#211 feat:crear form de configuracion portafolio responsive
  frontend-vinculacion/src/app/pages/docente-vinculacion/configuracion-vinculacion/configuracion-vinculacion-form/configuracion-vinculacion-form.component.css
  frontend-vinculacion/src/app/pages/docente-vinculacion/configuracion-vinculacion/configuracion-vinculacion-form/configuracion-vinculacion-form.component.html
  frontend-vinculacion/src/app/pages/docente-vinculacion/configuracion-vinculacion/configuracion-vinculacion-form/configuracion-vinculacion-form.component.spec.ts
  frontend-vinculacion/src/app/pages/docente-vinculacion/configuracion-vinculacion/configuracion-vinculacion-form/configuracion-vinculacion-form.component.ts
  frontend-vinculacion/src/app/pages/docente-vinculacion/configuracion-vinculacion/configuracion-vinculacion.component.css
  frontend-vinculacion/src/app/pages/docente-vinculacion/configuracion-vinculacion/configuracion-vinculacion.component.html
  frontend-vinculacion/src/app/pages/docente-vinculacion/configuracion-vinculacion/configuracion-vinculacion.component.spec.ts
  frontend-vinculacion/src/app/pages/docente-vinculacion/configuracion-vinculacion/configuracion-vinculacion.component.ts
  frontend-vinculacion/src/app/pages/pages-routing.module.ts
  frontend-vinculacion/src/app/pages/pages.module.ts
Labels: confirmed, docente vinculacion, portafolio

#215 feat:crear search de proyecto
  frontend-vinculacion/src/app/pages/docente-vinculacion/proyecto-vinculacion/proyecto-form/proyecto-form.component.html
  frontend-vinculacion/src/app/pages/docente-vinculacion/proyecto-vinculacion/proyecto-search/proyecto-search.component.css
  frontend-vinculacion/src/app/pages/docente-vinculacion/proyecto-vinculacion/proyecto-search/proyecto-search.component.html
  frontend-vinculacion/src/app/pages/docente-vinculacion/proyecto-vinculacion/proyecto-search/proyecto-search.component.spec.ts
  frontend-vinculacion/src/app/pages/docente-vinculacion/proyecto-vinculacion/proyecto-search/proyecto-search.component.ts
  frontend-vinculacion/src/app/pages/docente-vinculacion/solicitud-vinculacion/solicitud-search/solicitud-search.component.html
  frontend-vinculacion/src/app/pages/pages.module.ts
Labels: confirmed, docente vinculacion, portafolio

#216 feat:crear search de asignar fundacion
  frontend-vinculacion/src/app/pages/docente-vinculacion/asignar-fundacion-vinculacion/asignar-fundacion-form/asignar-fundacion-form.component.html
  frontend-vinculacion/src/app/pages/docente-vinculacion/asignar-fundacion-vinculacion/asignar-fundacion-search/asignar-fundacion-search.component.css
  frontend-vinculacion/src/app/pages/docente-vinculacion/asignar-fundacion-vinculacion/asignar-fundacion-search/asignar-fundacion-search.component.html
  frontend-vinculacion/src/app/pages/docente-vinculacion/asignar-fundacion-vinculacion/asignar-fundacion-search/asignar-fundacion-search.component.spec.ts
  frontend-vinculacion/src/app/pages/docente-vinculacion/asignar-fundacion-vinculacion/asignar-fundacion-search/asignar-fundacion-search.component.ts
  frontend-vinculacion/src/app/pages/pages.module.ts
Labels: confirmed, docente vinculacion, portafolio

#220 update: pantalla lista estudiante composicion de carpetas
  frontend-vinculacion/src/app/pages/docente-tutor/lista-estudiantes-tutor/lista-estudiante-tutor-buscar/lista-estudiante-tutor-buscar.component.css
  frontend-vinculacion/src/app/pages/docente-tutor/lista-estudiantes-tutor/lista-estudiante-tutor-buscar/lista-estudiante-tutor-buscar.component.html
  frontend-vinculacion/src/app/pages/docente-tutor/lista-estudiantes-tutor/lista-estudiante-tutor-buscar/lista-estudiante-tutor-buscar.component.spec.ts
  frontend-vinculacion/src/app/pages/docente-tutor/lista-estudiantes-tutor/lista-estudiante-tutor-buscar/lista-estudiante-tutor-buscar.component.ts
  frontend-vinculacion/src/app/pages/docente-tutor/lista-estudiantes-tutor/lista-estudiante-tutor-form/lista-estudiante-tutor-form.component.css
  frontend-vinculacion/src/app/pages/docente-tutor/lista-estudiantes-tutor/lista-estudiante-tutor-form/lista-estudiante-tutor-form.component.html
  frontend-vinculacion/src/app/pages/docente-tutor/lista-estudiantes-tutor/lista-estudiante-tutor-form/lista-estudiante-tutor-form.component.spec.ts
  frontend-vinculacion/src/app/pages/docente-tutor/lista-estudiantes-tutor/lista-estudiante-tutor-form/lista-estudiante-tutor-form.component.ts
  frontend-vinculacion/src/app/pages/docente-tutor/lista-estudiantes-tutor/lista-estudiantes-tutor.component.css
  frontend-vinculacion/src/app/pages/docente-tutor/lista-estudiantes-tutor/lista-estudiantes-tutor.component.html
  frontend-vinculacion/src/app/pages/docente-tutor/lista-estudiantes-tutor/lista-estudiantes-tutor.component.spec.ts
  frontend-vinculacion/src/app/pages/docente-tutor/lista-estudiantes-tutor/lista-estudiantes-tutor.component.ts
  frontend-vinculacion/src/app/pages/pages-routing.module.ts
  frontend-vinculacion/src/app/pages/pages.module.ts
Labels: docente tutor, ready to approve, portafolio

#219 update: pantalla lista fundacion composicion de carpetas
  frontend-vinculacion/src/app/pages/docente-tutor/lista-fundacion-tutor/lista-fundacion-tutor-buscar/lista-fundacion-tutor-buscar.component.css
  frontend-vinculacion/src/app/pages/docente-tutor/lista-fundacion-tutor/lista-fundacion-tutor-buscar/lista-fundacion-tutor-buscar.component.html
  frontend-vinculacion/src/app/pages/docente-tutor/lista-fundacion-tutor/lista-fundacion-tutor-buscar/lista-fundacion-tutor-buscar.component.spec.ts
  frontend-vinculacion/src/app/pages/docente-tutor/lista-fundacion-tutor/lista-fundacion-tutor-buscar/lista-fundacion-tutor-buscar.component.ts
  frontend-vinculacion/src/app/pages/docente-tutor/lista-fundacion-tutor/lista-fundacion-tutor-from/lista-fundacion-tutor-from.component.css
  frontend-vinculacion/src/app/pages/docente-tutor/lista-fundacion-tutor/lista-fundacion-tutor-from/lista-fundacion-tutor-from.component.html
  frontend-vinculacion/src/app/pages/docente-tutor/lista-fundacion-tutor/lista-fundacion-tutor-from/lista-fundacion-tutor-from.component.spec.ts
  frontend-vinculacion/src/app/pages/docente-tutor/lista-fundacion-tutor/lista-fundacion-tutor-from/lista-fundacion-tutor-from.component.ts
  frontend-vinculacion/src/app/pages/docente-tutor/lista-fundacion-tutor/lista-fundacion-tutor.component.css
  frontend-vinculacion/src/app/pages/docente-tutor/lista-fundacion-tutor/lista-fundacion-tutor.component.html
  frontend-vinculacion/src/app/pages/docente-tutor/lista-fundacion-tutor/lista-fundacion-tutor.component.spec.ts
  frontend-vinculacion/src/app/pages/docente-tutor/lista-fundacion-tutor/lista-fundacion-tutor.component.ts
  frontend-vinculacion/src/app/pages/pages-routing.module.ts
  frontend-vinculacion/src/app/pages/pages.module.ts
Labels: confirmed, docente tutor, portafolio

#204 Feacture/ifi/192 formulario final
  frontend-vinculacion/src/app/pages/docente-tutor/formulario-final-tutor/formulario-final-tutor.component.css
  frontend-vinculacion/src/app/pages/docente-tutor/formulario-final-tutor/formulario-final-tutor.component.html
  frontend-vinculacion/src/app/pages/estudiante/informe-final-estudiante/informe-final-estudiante.component.css
  frontend-vinculacion/src/app/pages/estudiante/informe-final-estudiante/informe-final-estudiante.component.html
Labels: ready to approve, informe final-inicial(documento 2-9), generación de reportes

#201 update: pages pestañas
  frontend-vinculacion/src/app/pages/pages.module.ts
Labels: confirmed, Pestañas de Proyecto, proyecto

#202 feat: service pestañas
  frontend-vinculacion/src/app/service/pestanias/actividades/actividades.service.spec.ts
  frontend-vinculacion/src/app/service/pestanias/actividades/actividades.service.ts
  frontend-vinculacion/src/app/service/pestanias/anexos/anexos.service.spec.ts
  frontend-vinculacion/src/app/service/pestanias/anexos/anexos.service.ts
  frontend-vinculacion/src/app/service/pestanias/bibliografia/bibliografia.service.spec.ts
  frontend-vinculacion/src/app/service/pestanias/bibliografia/bibliografia.service.ts
  frontend-vinculacion/src/app/service/pestanias/certificados/certificados.service.spec.ts
  frontend-vinculacion/src/app/service/pestanias/certificados/certificados.service.ts
  frontend-vinculacion/src/app/service/pestanias/datos-generales/datos-generales.service.spec.ts
  frontend-vinculacion/src/app/service/pestanias/datos-generales/datos-generales.service.ts
  frontend-vinculacion/src/app/service/pestanias/documentos/documentos.service.spec.ts
  frontend-vinculacion/src/app/service/pestanias/documentos/documentos.service.ts
  frontend-vinculacion/src/app/service/pestanias/empresa/empresa.service.spec.ts
  frontend-vinculacion/src/app/service/pestanias/empresa/empresa.service.ts
  frontend-vinculacion/src/app/service/pestanias/firmas/firmas.service.spec.ts
  frontend-vinculacion/src/app/service/pestanias/firmas/firmas.service.ts
  frontend-vinculacion/src/app/service/pestanias/integrantes/integrantes.service.spec.ts
  frontend-vinculacion/src/app/service/pestanias/integrantes/integrantes.service.ts
  frontend-vinculacion/src/app/service/pestanias/observaciones/observaciones.service.spec.ts
  frontend-vinculacion/src/app/service/pestanias/observaciones/observaciones.service.ts
  frontend-vinculacion/src/app/service/pestanias/plan-de-trabajo/plan-de-trabajo.service.spec.ts
  frontend-vinculacion/src/app/service/pestanias/plan-de-trabajo/plan-de-trabajo.service.ts
Labels: ready to approve, Pestañas de Proyecto, proyecto

#203 feat: models pestañas
  frontend-vinculacion/src/app/models/pestanias/actividades.ts
  frontend-vinculacion/src/app/models/pestanias/anexos.ts
  frontend-vinculacion/src/app/models/pestanias/bibliografia.ts
  frontend-vinculacion/src/app/models/pestanias/certificados.ts
  frontend-vinculacion/src/app/models/pestanias/datos-generales.ts
  frontend-vinculacion/src/app/models/pestanias/documentos.ts
  frontend-vinculacion/src/app/models/pestanias/empresa.ts
  frontend-vinculacion/src/app/models/pestanias/firmas.ts
  frontend-vinculacion/src/app/models/pestanias/integrantes.ts
  frontend-vinculacion/src/app/models/pestanias/observaciones.ts
  frontend-vinculacion/src/app/models/pestanias/plan-de-trabajo.ts
Labels: confirmed, Pestañas de Proyecto, proyecto

#224 update:pantalla redireccionar-arreglos
  frontend-vinculacion/package-lock.json
  frontend-vinculacion/src/app/pages/coordinador-carrera/agregar-rol/agregar-rol-add/agregar-rol-add.component.css
  frontend-vinculacion/src/app/pages/coordinador-carrera/agregar-rol/agregar-rol-add/agregar-rol-add.component.html
  frontend-vinculacion/src/app/pages/coordinador-carrera/agregar-rol/agregar-rol-add/agregar-rol-add.component.spec.ts
  frontend-vinculacion/src/app/pages/coordinador-carrera/agregar-rol/agregar-rol-add/agregar-rol-add.component.ts
  frontend-vinculacion/src/app/pages/coordinador-carrera/agregar-rol/agregar-rol-boton/agregar-rol-boton.component.css
  frontend-vinculacion/src/app/pages/coordinador-carrera/agregar-rol/agregar-rol-boton/agregar-rol-boton.component.html
  frontend-vinculacion/src/app/pages/coordinador-carrera/agregar-rol/agregar-rol-boton/agregar-rol-boton.component.spec.ts
  frontend-vinculacion/src/app/pages/coordinador-carrera/agregar-rol/agregar-rol-boton/agregar-rol-boton.component.ts
  frontend-vinculacion/src/app/pages/coordinador-carrera/agregar-rol/agregar-rol.component.css
  frontend-vinculacion/src/app/pages/coordinador-carrera/agregar-rol/agregar-rol.component.html
  frontend-vinculacion/src/app/pages/coordinador-carrera/agregar-rol/agregar-rol.component.spec.ts
  frontend-vinculacion/src/app/pages/coordinador-carrera/agregar-rol/agregar-rol.component.ts
  frontend-vinculacion/src/app/pages/coordinador-carrera/redireccionar/redireccionar-boton-dos/redireccionar-boton-dos.component.css
  frontend-vinculacion/src/app/pages/coordinador-carrera/redireccionar/redireccionar-boton-dos/redireccionar-boton-dos.component.html
  frontend-vinculacion/src/app/pages/coordinador-carrera/redireccionar/redireccionar-boton-dos/redireccionar-boton-dos.component.spec.ts
  frontend-vinculacion/src/app/pages/coordinador-carrera/redireccionar/redireccionar-boton-dos/redireccionar-boton-dos.component.ts
  frontend-vinculacion/src/app/pages/coordinador-carrera/redireccionar/redireccionar-boton-uno/redireccionar-boton-uno.component.css
  frontend-vinculacion/src/app/pages/coordinador-carrera/redireccionar/redireccionar-boton-uno/redireccionar-boton-uno.component.html
  frontend-vinculacion/src/app/pages/coordinador-carrera/redireccionar/redireccionar-boton-uno/redireccionar-boton-uno.component.spec.ts
  frontend-vinculacion/src/app/pages/coordinador-carrera/redireccionar/redireccionar-boton-uno/redireccionar-boton-uno.component.ts
  frontend-vinculacion/src/app/pages/coordinador-carrera/redireccionar/redireccionar-principal/redireccionar-principal.component.css
  frontend-vinculacion/src/app/pages/coordinador-carrera/redireccionar/redireccionar-principal/redireccionar-principal.component.html
  frontend-vinculacion/src/app/pages/coordinador-carrera/redireccionar/redireccionar-principal/redireccionar-principal.component.spec.ts
  frontend-vinculacion/src/app/pages/coordinador-carrera/redireccionar/redireccionar-principal/redireccionar-principal.component.ts
  frontend-vinculacion/src/app/pages/coordinador-carrera/redireccionar/redireccionar.component.css
  frontend-vinculacion/src/app/pages/coordinador-carrera/redireccionar/redireccionar.component.html
  frontend-vinculacion/src/app/pages/coordinador-carrera/redireccionar/redireccionar.component.ts
  frontend-vinculacion/src/app/pages/pages-routing.module.ts
  frontend-vinculacion/src/app/pages/pages.module.ts
  frontend-vinculacion/src/assets/image/agregardoce.png
  package-lock.json
Labels: confirmed, coordinador de carrera

#230 Feature/cc/229 rellenar datos
  frontend-vinculacion/src/app/pages/coordinador-carrera/agregar-rol/agregar-rol-add/agregar-rol-add.component.css
  frontend-vinculacion/src/app/pages/coordinador-carrera/agregar-rol/agregar-rol-add/agregar-rol-add.component.html
  frontend-vinculacion/src/app/pages/coordinador-carrera/agregar-rol/agregar-rol-boton/agregar-rol-boton.component.html
  frontend-vinculacion/src/app/pages/coordinador-carrera/agregar-rol/agregar-rol-boton/agregar-rol-boton.component.spec.ts
  frontend-vinculacion/src/app/pages/coordinador-carrera/agregar-rol/agregar-rol-boton/agregar-rol-boton.component.ts
  frontend-vinculacion/src/app/pages/coordinador-carrera/agregar-rol/agregar-rol-search/agregar-rol-search.component.css
  frontend-vinculacion/src/app/pages/coordinador-carrera/agregar-rol/agregar-rol-search/agregar-rol-search.component.html
  frontend-vinculacion/src/app/pages/coordinador-carrera/agregar-rol/agregar-rol-search/agregar-rol-search.component.spec.ts
  frontend-vinculacion/src/app/pages/coordinador-carrera/agregar-rol/agregar-rol-search/agregar-rol-search.component.ts
  frontend-vinculacion/src/app/pages/coordinador-carrera/redireccionar/redireccionar-boton-dos/redireccionar-boton-dos.component.css
  frontend-vinculacion/src/app/pages/coordinador-carrera/redireccionar/redireccionar-boton-dos/redireccionar-boton-dos.component.html
  frontend-vinculacion/src/app/pages/coordinador-carrera/redireccionar/redireccionar-boton-dos/redireccionar-boton-dos.component.spec.ts
  frontend-vinculacion/src/app/pages/coordinador-carrera/redireccionar/redireccionar-boton-dos/redireccionar-boton-dos.component.ts
  frontend-vinculacion/src/app/pages/coordinador-carrera/redireccionar/redireccionar-boton-uno/redireccionar-boton-uno.component.css
  frontend-vinculacion/src/app/pages/coordinador-carrera/redireccionar/redireccionar-boton-uno/redireccionar-boton-uno.component.html
  frontend-vinculacion/src/app/pages/coordinador-carrera/redireccionar/redireccionar-boton-uno/redireccionar-boton-uno.component.spec.ts
  frontend-vinculacion/src/app/pages/coordinador-carrera/redireccionar/redireccionar-boton-uno/redireccionar-boton-uno.component.ts
  frontend-vinculacion/src/app/pages/coordinador-carrera/rellenar-datos/rellenar-datos-form/rellenar-datos-form.component.css
  frontend-vinculacion/src/app/pages/coordinador-carrera/rellenar-datos/rellenar-datos-form/rellenar-datos-form.component.html
  frontend-vinculacion/src/app/pages/coordinador-carrera/rellenar-datos/rellenar-datos-form/rellenar-datos-form.component.spec.ts
  frontend-vinculacion/src/app/pages/coordinador-carrera/rellenar-datos/rellenar-datos-form/rellenar-datos-form.component.ts
  frontend-vinculacion/src/app/pages/coordinador-carrera/rellenar-datos/rellenar-datos.component.css
  frontend-vinculacion/src/app/pages/coordinador-carrera/rellenar-datos/rellenar-datos.component.html
  frontend-vinculacion/src/app/pages/coordinador-carrera/rellenar-datos/rellenar-datos.component.spec.ts
  frontend-vinculacion/src/app/pages/coordinador-carrera/rellenar-datos/rellenar-datos.component.ts
  frontend-vinculacion/src/app/pages/pages.module.ts
Labels: coordinador de carrera

#228 update:pantalla agregar rol terminado y arreglado
  frontend-vinculacion/src/app/pages/coordinador-carrera/agregar-rol/agregar-rol-add/agregar-rol-add.component.css
  frontend-vinculacion/src/app/pages/coordinador-carrera/agregar-rol/agregar-rol-add/agregar-rol-add.component.html
  frontend-vinculacion/src/app/pages/coordinador-carrera/agregar-rol/agregar-rol-boton/agregar-rol-boton.component.html
  frontend-vinculacion/src/app/pages/coordinador-carrera/agregar-rol/agregar-rol-boton/agregar-rol-boton.component.spec.ts
  frontend-vinculacion/src/app/pages/coordinador-carrera/agregar-rol/agregar-rol-boton/agregar-rol-boton.component.ts
  frontend-vinculacion/src/app/pages/coordinador-carrera/agregar-rol/agregar-rol-search/agregar-rol-search.component.css
  frontend-vinculacion/src/app/pages/coordinador-carrera/agregar-rol/agregar-rol-search/agregar-rol-search.component.html
  frontend-vinculacion/src/app/pages/coordinador-carrera/agregar-rol/agregar-rol-search/agregar-rol-search.component.spec.ts
  frontend-vinculacion/src/app/pages/coordinador-carrera/agregar-rol/agregar-rol-search/agregar-rol-search.component.ts
  frontend-vinculacion/src/app/pages/coordinador-carrera/redireccionar/redireccionar-boton-dos/redireccionar-boton-dos.component.css
  frontend-vinculacion/src/app/pages/coordinador-carrera/redireccionar/redireccionar-boton-dos/redireccionar-boton-dos.component.html
  frontend-vinculacion/src/app/pages/coordinador-carrera/redireccionar/redireccionar-boton-dos/redireccionar-boton-dos.component.spec.ts
  frontend-vinculacion/src/app/pages/coordinador-carrera/redireccionar/redireccionar-boton-dos/redireccionar-boton-dos.component.ts
  frontend-vinculacion/src/app/pages/coordinador-carrera/redireccionar/redireccionar-boton-uno/redireccionar-boton-uno.component.css
  frontend-vinculacion/src/app/pages/coordinador-carrera/redireccionar/redireccionar-boton-uno/redireccionar-boton-uno.component.html
  frontend-vinculacion/src/app/pages/coordinador-carrera/redireccionar/redireccionar-boton-uno/redireccionar-boton-uno.component.spec.ts
  frontend-vinculacion/src/app/pages/coordinador-carrera/redireccionar/redireccionar-boton-uno/redireccionar-boton-uno.component.ts
  frontend-vinculacion/src/app/pages/pages.module.ts
Labels: coordinador de carrera

#236 Corecciones
  frontend-vinculacion/src/app/pages/informe-control/avance-cumplimiento/avance-cumplimiento.component.html
  frontend-vinculacion/src/app/pages/informe-control/observacion-avance/observacion-avance.component.html
Labels: informe de control

#226 feat: routing pestañas
  frontend-vinculacion/src/app/pages/pages-routing.module.ts
Labels: Pestañas de Proyecto, proyecto

#238 feat:crear pantalla de informe control
  frontend-vinculacion/src/app/pages/informe-control/informe-control/informe-control.component.css
  frontend-vinculacion/src/app/pages/informe-control/informe-control/informe-control.component.html
Labels: informe de control

#240 feat:solicitud
  frontend-vinculacion/src/app/app-routing.module.ts
  frontend-vinculacion/src/app/models/docente-vinculacion/solicitud-vinculacion.ts
  frontend-vinculacion/src/app/pages/docente-vinculacion/solicitud-vinculacion/solicitud-form/solicitud-form.component.html
  frontend-vinculacion/src/app/pages/docente-vinculacion/solicitud-vinculacion/solicitud-form/solicitud-form.component.ts
  frontend-vinculacion/src/app/service/docente-vinculacion/solicitud-vinculacion/solicitud-vinculacion-http.service.ts
Labels: confirmed, docente vinculacion, portafolio

#222 feat:Modificar-informe-final
  frontend-vinculacion/src/app/pages/docente-tutor/formulario-final-tutor/formulario-final-tutor.component.css
  frontend-vinculacion/src/app/pages/docente-tutor/formulario-final-tutor/formulario-final-tutor.component.html
  frontend-vinculacion/src/app/pages/estudiante/informe-final-estudiante/informe-final-estudiante.component.css
  frontend-vinculacion/src/app/pages/estudiante/informe-final-estudiante/informe-final-estudiante.component.html
Labels: ready to approve, informe final-inicial(documento 2-9), generación de reportes

#247 update:pantallas estudiante y portafolio estudiante
  frontend-vinculacion/src/app/pages/estudiante/estudiante-portafolio/estudiante-portafolio-formulario/estudiante-portafolio-formulario.component.css
  frontend-vinculacion/src/app/pages/estudiante/estudiante-portafolio/estudiante-portafolio-formulario/estudiante-portafolio-formulario.component.html
  frontend-vinculacion/src/app/pages/estudiante/estudiante-portafolio/estudiante-portafolio-formulario/estudiante-portafolio-formulario.component.spec.ts
  frontend-vinculacion/src/app/pages/estudiante/estudiante-portafolio/estudiante-portafolio-formulario/estudiante-portafolio-formulario.component.ts
  frontend-vinculacion/src/app/pages/estudiante/estudiante-portafolio/estudiante-portafolio-portafolio/estudiante-portafolio-portafolio.component.css
  frontend-vinculacion/src/app/pages/estudiante/estudiante-portafolio/estudiante-portafolio-portafolio/estudiante-portafolio-portafolio.component.html
  frontend-vinculacion/src/app/pages/estudiante/estudiante-portafolio/estudiante-portafolio-portafolio/estudiante-portafolio-portafolio.component.spec.ts
  frontend-vinculacion/src/app/pages/estudiante/estudiante-portafolio/estudiante-portafolio-portafolio/estudiante-portafolio-portafolio.component.ts
  frontend-vinculacion/src/app/pages/estudiante/estudiante-portafolio/estudiante-portafolio.component.css
  frontend-vinculacion/src/app/pages/estudiante/estudiante-portafolio/estudiante-portafolio.component.html
  frontend-vinculacion/src/app/pages/estudiante/estudiante-portafolio/estudiante-portafolio.component.spec.ts
  frontend-vinculacion/src/app/pages/estudiante/estudiante-portafolio/estudiante-portafolio.component.ts
  frontend-vinculacion/src/app/pages/estudiante/estudiante/estudiante-buscar/estudiante-buscar.component.css
  frontend-vinculacion/src/app/pages/estudiante/estudiante/estudiante-buscar/estudiante-buscar.component.html
  frontend-vinculacion/src/app/pages/estudiante/estudiante/estudiante-buscar/estudiante-buscar.component.spec.ts
  frontend-vinculacion/src/app/pages/estudiante/estudiante/estudiante-buscar/estudiante-buscar.component.ts
  frontend-vinculacion/src/app/pages/estudiante/estudiante/estudiante-formulario/estudiante-formulario.component.css
  frontend-vinculacion/src/app/pages/estudiante/estudiante/estudiante-formulario/estudiante-formulario.component.html
  frontend-vinculacion/src/app/pages/estudiante/estudiante/estudiante-formulario/estudiante-formulario.component.spec.ts
  frontend-vinculacion/src/app/pages/estudiante/estudiante/estudiante-formulario/estudiante-formulario.component.ts
  frontend-vinculacion/src/app/pages/estudiante/estudiante/estudiante.component.css
  frontend-vinculacion/src/app/pages/estudiante/estudiante/estudiante.component.html
  frontend-vinculacion/src/app/pages/estudiante/estudiante/estudiante.component.spec.ts
  frontend-vinculacion/src/app/pages/estudiante/estudiante/estudiante.component.ts
  frontend-vinculacion/src/app/pages/pages-routing.module.ts
  frontend-vinculacion/src/app/pages/pages.module.ts
Labels: estudiante, ready to approve

#251 feat:Crear informe inicial
  frontend-vinculacion/src/app/pages/informe-inicial/formulario-informe-inicial/formulario-informe-inicial.component.css
  frontend-vinculacion/src/app/pages/informe-inicial/formulario-informe-inicial/formulario-informe-inicial.component.html
  frontend-vinculacion/src/app/pages/informe-inicial/formulario-informe-inicial/formulario-informe-inicial.component.spec.ts
  frontend-vinculacion/src/app/pages/informe-inicial/formulario-informe-inicial/formulario-informe-inicial.component.ts
  frontend-vinculacion/src/app/pages/informe-inicial/primer-formulario-inicial/primer-formulario-inicial.component.css
  frontend-vinculacion/src/app/pages/informe-inicial/primer-formulario-inicial/primer-formulario-inicial.component.html
  frontend-vinculacion/src/app/pages/informe-inicial/primer-formulario-inicial/primer-formulario-inicial.component.spec.ts
  frontend-vinculacion/src/app/pages/informe-inicial/primer-formulario-inicial/primer-formulario-inicial.component.ts
  frontend-vinculacion/src/app/pages/informe-inicial/segundo-formulario-inicial/segundo-formulario-inicial.component.css
  frontend-vinculacion/src/app/pages/informe-inicial/segundo-formulario-inicial/segundo-formulario-inicial.component.html
  frontend-vinculacion/src/app/pages/informe-inicial/segundo-formulario-inicial/segundo-formulario-inicial.component.spec.ts
  frontend-vinculacion/src/app/pages/informe-inicial/segundo-formulario-inicial/segundo-formulario-inicial.component.ts
  frontend-vinculacion/src/app/pages/pages-routing.module.ts
  frontend-vinculacion/src/app/pages/pages.module.ts
Labels: ready to approve, informe final-inicial(documento 2-9), generación de reportes

#252 Feature/dt/237 login
  frontend-vinculacion/src/app/app-routing.module.ts
  frontend-vinculacion/src/app/app.module.ts
  frontend-vinculacion/src/app/auth/auth-routing.module.ts
  frontend-vinculacion/src/app/auth/auth.module.ts
  frontend-vinculacion/src/app/auth/login/login.component.css
  frontend-vinculacion/src/app/auth/login/login.component.html
  frontend-vinculacion/src/app/auth/login/login.component.spec.ts
  frontend-vinculacion/src/app/auth/login/login.component.ts
  frontend-vinculacion/src/app/auth/register/register.component.css
  frontend-vinculacion/src/app/auth/register/register.component.html
  frontend-vinculacion/src/app/auth/register/register.component.spec.ts
  frontend-vinculacion/src/app/auth/register/register.component.ts
  frontend-vinculacion/src/app/pages/pages-routing.module.ts
  frontend-vinculacion/src/app/pages/pages.module.ts
  frontend-vinculacion/src/assets/image/yavirac.jfif
Labels: docente tutor, ready to approve, portafolio

#254 feat: crear servicios de user
  frontend-vinculacion/src/app/auth/login/login.component.html
  frontend-vinculacion/src/app/auth/register/register.component.html
  frontend-vinculacion/src/app/models/user/user.ts
  frontend-vinculacion/src/app/service/user/user-http.service.spec.ts
  frontend-vinculacion/src/app/service/user/user-http.service.ts
Labels: docente tutor, ready to approve, portafolio

#255 fix: correcion de componente registrar
  frontend-vinculacion/src/app/auth/auth-routing.module.ts
  frontend-vinculacion/src/app/auth/auth.module.ts
  frontend-vinculacion/src/app/auth/login/login.component.html
  frontend-vinculacion/src/app/auth/register/register.component.css
  frontend-vinculacion/src/app/auth/register/register.component.html
  frontend-vinculacion/src/app/auth/register/register.component.spec.ts
  frontend-vinculacion/src/app/auth/register/register.component.ts
Labels: confirmed, docente tutor, portafolio

#256 Feature/dv/244 miga pan
  frontend-vinculacion/src/app/models/docente-vinculacion/asignar-fundacion-vinculacion.ts
  frontend-vinculacion/src/app/pages/docente-vinculacion/asignar-fundacion-vinculacion/asignar-fundacion-form/asignar-fundacion-form.component.html
  frontend-vinculacion/src/app/pages/docente-vinculacion/asignar-fundacion-vinculacion/asignar-fundacion-form/asignar-fundacion-form.component.ts
  frontend-vinculacion/src/app/pages/docente-vinculacion/portafolio-vinculacion/portafolio-vinculacion-estudiante-form/portafolio-vinculacion-estudiante-form.component.css
  frontend-vinculacion/src/app/pages/docente-vinculacion/portafolio-vinculacion/portafolio-vinculacion-estudiante-form/portafolio-vinculacion-estudiante-form.component.html
  frontend-vinculacion/src/app/pages/docente-vinculacion/portafolio-vinculacion/portafolio-vinculacion-estudiante-form/portafolio-vinculacion-estudiante-form.component.spec.ts
  frontend-vinculacion/src/app/pages/docente-vinculacion/portafolio-vinculacion/portafolio-vinculacion-estudiante-form/portafolio-vinculacion-estudiante-form.component.ts
  frontend-vinculacion/src/app/pages/docente-vinculacion/portafolio-vinculacion/portafolio-vinculacion-form/portafolio-vinculacion-form.component.css
  frontend-vinculacion/src/app/pages/docente-vinculacion/portafolio-vinculacion/portafolio-vinculacion-form/portafolio-vinculacion-form.component.html
  frontend-vinculacion/src/app/pages/docente-vinculacion/portafolio-vinculacion/portafolio-vinculacion-form/portafolio-vinculacion-form.component.spec.ts
  frontend-vinculacion/src/app/pages/docente-vinculacion/portafolio-vinculacion/portafolio-vinculacion-form/portafolio-vinculacion-form.component.ts
  frontend-vinculacion/src/app/pages/docente-vinculacion/portafolio-vinculacion/portafolio-vinculacion-tutor-form/portafolio-vinculacion-tutor-form.component.css
  frontend-vinculacion/src/app/pages/docente-vinculacion/portafolio-vinculacion/portafolio-vinculacion-tutor-form/portafolio-vinculacion-tutor-form.component.html
  frontend-vinculacion/src/app/pages/docente-vinculacion/portafolio-vinculacion/portafolio-vinculacion-tutor-form/portafolio-vinculacion-tutor-form.component.spec.ts
  frontend-vinculacion/src/app/pages/docente-vinculacion/portafolio-vinculacion/portafolio-vinculacion-tutor-form/portafolio-vinculacion-tutor-form.component.ts
  frontend-vinculacion/src/app/pages/docente-vinculacion/portafolio-vinculacion/portafolio-vinculacion.component.css
  frontend-vinculacion/src/app/pages/docente-vinculacion/portafolio-vinculacion/portafolio-vinculacion.component.html
  frontend-vinculacion/src/app/pages/docente-vinculacion/portafolio-vinculacion/portafolio-vinculacion.component.spec.ts
  frontend-vinculacion/src/app/pages/docente-vinculacion/portafolio-vinculacion/portafolio-vinculacion.component.ts
  frontend-vinculacion/src/app/pages/docente-vinculacion/solicitud-vinculacion/solicitud-form/solicitud-form.component.html
  frontend-vinculacion/src/app/pages/pages-routing.module.ts
  frontend-vinculacion/src/app/pages/pages.module.ts
  frontend-vinculacion/src/app/service/docente-vinculacion/asignar-fundacion-vinculacion/asignar-fundacion-vinculacion-http.service.ts
  frontend-vinculacion/src/app/shared/breadcrumbs/breadcrumbs.component.html
  frontend-vinculacion/src/app/shared/breadcrumbs/breadcrumbs.component.ts
  frontend-vinculacion/src/index.html
Labels: docente vinculacion, ready to approve, portafolio

#245 feat: servicio de docente tutor lista fundacion
  frontend-vinculacion/src/app/models/docente-tutor/lista-fundacion-tutor.ts
  frontend-vinculacion/src/app/pages/docente-tutor/lista-fundacion-tutor/lista-fundacion-tutor-from/lista-fundacion-tutor-from.component.html
  frontend-vinculacion/src/app/pages/docente-tutor/lista-fundacion-tutor/lista-fundacion-tutor-from/lista-fundacion-tutor-from.component.ts
  frontend-vinculacion/src/app/pages/docente-vinculacion/solicitud-vinculacion/solicitud-form/solicitud-form.component.html
  frontend-vinculacion/src/app/service/docente-tutor/lista-fundacion-tutor/lista-fundacion-http.service.ts
Labels: docente tutor, doing, portafolio

#258 update: implementaciones de nuevas funciones
  frontend-vinculacion/src/app/pages/docente-tutor/lista-fundacion-tutor/lista-fundacion-tutor-from/lista-fundacion-tutor-from.component.html
Labels: confirmed, docente tutor, portafolio

#259 Update:pantalla estudiante
  frontend-vinculacion/src/app/pages/estudiante/estudiante-portafolio/estudiante-portafolio-formulario/estudiante-portafolio-formulario.component.css
  frontend-vinculacion/src/app/pages/estudiante/estudiante-portafolio/estudiante-portafolio-formulario/estudiante-portafolio-formulario.component.html
  frontend-vinculacion/src/app/pages/estudiante/estudiante-portafolio/estudiante-portafolio-portafolio/estudiante-portafolio-portafolio.component.html
  frontend-vinculacion/src/app/pages/estudiante/estudiante/estudiante-formulario/estudiante-formulario.component.css
  frontend-vinculacion/src/app/pages/estudiante/estudiante/estudiante-formulario/estudiante-formulario.component.html
Labels: estudiante, ready to approve

#260 Feature/dv/253 dv
  frontend-vinculacion/package-lock.json
  frontend-vinculacion/package.json
  frontend-vinculacion/src/app/app-routing.module.ts
  frontend-vinculacion/src/app/app.module.ts
  frontend-vinculacion/src/app/auth/login/login.component.html
  frontend-vinculacion/src/app/pages/docente-vinculacion/asignar-fundacion-vinculacion/asignar-fundacion-form/asignar-fundacion-form.component.css
  frontend-vinculacion/src/app/pages/docente-vinculacion/asignar-fundacion-vinculacion/asignar-fundacion-form/asignar-fundacion-form.component.html
  frontend-vinculacion/src/app/pages/docente-vinculacion/asignar-fundacion-vinculacion/asignar-fundacion-form/asignar-fundacion-form.component.ts
  frontend-vinculacion/src/app/pages/docente-vinculacion/solicitud-vinculacion/solicitud-form/solicitud-form.component.css
  frontend-vinculacion/src/app/pages/docente-vinculacion/solicitud-vinculacion/solicitud-form/solicitud-form.component.html
  frontend-vinculacion/src/app/pages/docente-vinculacion/solicitud-vinculacion/solicitud-form/solicitud-form.component.ts
  frontend-vinculacion/src/app/pages/pages.module.ts
  frontend-vinculacion/src/app/shared/sidebar/sidebar.component.html
Labels: portafolio

#264 Coreccion de errores
  frontend-vinculacion/src/app/models/informe-control/avance-cumplimiento.ts
  frontend-vinculacion/src/app/models/informe-control/informe-control.ts
  frontend-vinculacion/src/app/models/informe-control/observacion-avance.ts
  frontend-vinculacion/src/app/pages/informe-control/avance-cumplimiento/avance-cumplimiento.component.html
  frontend-vinculacion/src/app/pages/informe-control/avance-cumplimiento/avance-cumplimiento.component.ts
  frontend-vinculacion/src/app/pages/informe-control/informe-control/informe-control.component.html
  frontend-vinculacion/src/app/pages/informe-control/informe-control/informe-control.component.ts
  frontend-vinculacion/src/app/pages/informe-control/observacion-avance/observacion-avance.component.html
  frontend-vinculacion/src/app/pages/informe-control/observacion-avance/observacion-avance.component.ts
  frontend-vinculacion/src/app/service/informe-control/avance-cumplimiento/avance-cumplimiento-http.service.ts
  frontend-vinculacion/src/app/service/informe-control/informe-control/informe-control-http.service.ts
  frontend-vinculacion/src/app/service/informe-control/observacion-avance/observacion-avance-http.service.ts
Labels: informe de control

#267 update: pantalla de portafolio
  frontend-vinculacion/src/app/pages/coordinador-general/portafolio/portafolio-estudiante/portafolio-estudiante.component.css
  frontend-vinculacion/src/app/pages/coordinador-general/portafolio/portafolio-estudiante/portafolio-estudiante.component.html
  frontend-vinculacion/src/app/pages/coordinador-general/portafolio/portafolio-estudiante/portafolio-estudiante.component.spec.ts
  frontend-vinculacion/src/app/pages/coordinador-general/portafolio/portafolio-estudiante/portafolio-estudiante.component.ts
  frontend-vinculacion/src/app/pages/coordinador-general/portafolio/portafolio-form/portafolio-form.component.css
  frontend-vinculacion/src/app/pages/coordinador-general/portafolio/portafolio-form/portafolio-form.component.html
  frontend-vinculacion/src/app/pages/coordinador-general/portafolio/portafolio-form/portafolio-form.component.spec.ts
  frontend-vinculacion/src/app/pages/coordinador-general/portafolio/portafolio-form/portafolio-form.component.ts
  frontend-vinculacion/src/app/pages/coordinador-general/portafolio/portafolio-tutor/portafolio-tutor.component.css
  frontend-vinculacion/src/app/pages/coordinador-general/portafolio/portafolio-tutor/portafolio-tutor.component.html
  frontend-vinculacion/src/app/pages/coordinador-general/portafolio/portafolio-tutor/portafolio-tutor.component.spec.ts
  frontend-vinculacion/src/app/pages/coordinador-general/portafolio/portafolio-tutor/portafolio-tutor.component.ts
  frontend-vinculacion/src/app/pages/coordinador-general/portafolio/portafolio.component.css
  frontend-vinculacion/src/app/pages/coordinador-general/portafolio/portafolio.component.html
  frontend-vinculacion/src/app/pages/coordinador-general/portafolio/portafolio.component.ts
  frontend-vinculacion/src/app/pages/pages-routing.module.ts
  frontend-vinculacion/src/app/pages/pages.module.ts
Labels: coordinador general, ready to approve, portafolio
