Repository vinculacion-yavirac/frontend-vinculacion, pull requests merged in 2023-02, with the labels that each got.

#269 Botones
  frontend-vinculacion/src/app/pages/informe-control/avance-cumplimiento/avance-cumplimiento.component.html
  frontend-vinculacion/src/app/pages/informe-control/informe-control/informe-control.component.html
  frontend-vinculacion/src/app/pages/informe-control/observacion-avance/observacion-avance.component.html
Labels: informe de control, generación de reportes

#273 feat:buscador
  frontend-vinculacion/src/app/models/docente-vinculacion/solicitud-vinculacion.ts
  frontend-vinculacion/src/app/pages/docente-vinculacion/solicitud-vinculacion/solicitud-form/solicitud-form.component.css
  frontend-vinculacion/src/app/pages/docente-vinculacion/solicitud-vinculacion/solicitud-form/solicitud-form.component.html
  frontend-vinculacion/src/app/pages/docente-vinculacion/solicitud-vinculacion/solicitud-form/solicitud-form.component.ts
  frontend-vinculacion/src/app/pages/docente-vinculacion/solicitud-vinculacion/solicitud-search/solicitud-search.component.css
  frontend-vinculacion/src/app/pages/docente-vinculacion/solicitud-vinculacion/solicitud-search/solicitud-search.component.html
  frontend-vinculacion/src/app/pages/docente-vinculacion/solicitud-vinculacion/solicitud-search/solicitud-search.component.spec.ts
  frontend-vinculacion/src/app/pages/docente-vinculacion/solicitud-vinculacion/solicitud-search/solicitud-search.component.ts
  frontend-vinculacion/src/app/pages/pages.module.ts
  frontend-vinculacion/src/app/service/docente-vinculacion/solicitud-vinculacion/solicitud-vinculacion-http.service.ts
Labels: confirmed, docente vinculacion, portafolio

#274 Funcionalidad de texteare
  frontend-vinculacion/src/app/pages/informe-control/avance-cumplimiento/avance-cumplimiento.component.html
  frontend-vinculacion/src/app/pages/informe-control/avance-cumplimiento/avance-cumplimiento.component.ts
  frontend-vinculacion/src/app/pages/informe-control/observacion-avance/observacion-avance.component.html
  frontend-vinculacion/src/app/pages/informe-control/observacion-avance/observacion-avance.component.ts
  frontend-vinculacion/src/app/service/informe-control/avance-cumplimiento/avance-cumplimiento-http.service.ts
  frontend-vinculacion/src/app/service/informe-control/observacion-avance/observacion-avance-http.service.ts
Labels: informe de control, generación de reportes

#277 update: correcion de estilos y conexion de bd
  frontend-vinculacion/src/app/models/docente-tutor/lista-fundacion-tutor.ts
  frontend-vinculacion/src/app/pages/docente-tutor/lista-fundacion-tutor/lista-fundacion-tutor-from/lista-fundacion-tutor-from.component.css
  frontend-vinculacion/src/app/pages/docente-tutor/lista-fundacion-tutor/lista-fundacion-tutor-from/lista-fundacion-tutor-from.component.html
  frontend-vinculacion/src/app/pages/docente-tutor/lista-fundacion-tutor/lista-fundacion-tutor-from/lista-fundacion-tutor-from.component.ts
  frontend-vinculacion/src/app/service/docente-tutor/lista-fundacion-tutor/lista-fundacion-http.service.ts
  frontend-vinculacion/src/assets/image/ojo-boton.png
Labels: docente tutor, ready to approve, portafolio

#280 update:modificacion de capetas y formulario de informe inicial
  frontend-vinculacion/src/app/models/docente-tutor/formulario-informe-inicial.ts
  frontend-vinculacion/src/app/models/docente-tutor/informe-inicial.ts
  frontend-vinculacion/src/app/models/informe-inicial/informe-inicial.ts
  frontend-vinculacion/src/app/models/informe-inicial/primer-formulario-inicial.ts
  frontend-vinculacion/src/app/models/informe-inicial/seegundo-formulario-inicial.ts
  frontend-vinculacion/src/app/pages/docente-tutor/informe-inicial/formulario-informe-inicial/formulario-informe-inicial.component.css
  frontend-vinculacion/src/app/pages/docente-tutor/informe-inicial/formulario-informe-inicial/formulario-informe-inicial.component.html
  frontend-vinculacion/src/app/pages/docente-tutor/informe-inicial/formulario-informe-inicial/formulario-informe-inicial.component.spec.ts
  frontend-vinculacion/src/app/pages/docente-tutor/informe-inicial/formulario-informe-inicial/formulario-informe-inicial.component.ts
  frontend-vinculacion/src/app/pages/docente-tutor/informe-inicial/informe-inicial/informe-inicial.component.css
  frontend-vinculacion/src/app/pages/docente-tutor/informe-inicial/informe-inicial/informe-inicial.component.html
  frontend-vinculacion/src/app/pages/docente-tutor/informe-inicial/informe-inicial/informe-inicial.component.spec.ts
  frontend-vinculacion/src/app/pages/docente-tutor/informe-inicial/informe-inicial/informe-inicial.component.ts
  frontend-vinculacion/src/app/pages/informe-inicial/formulario-informe-inicial/formulario-informe-inicial.component.html
  frontend-vinculacion/src/app/pages/pages-routing.module.ts
  frontend-vinculacion/src/app/pages/pages.module.ts
  frontend-vinculacion/src/app/service/informe-inicial/formulario-informe-inicial/formulario-informe-inicial.service.spec.ts
  frontend-vinculacion/src/app/service/informe-inicial/formulario-informe-inicial/formulario-informe-inicial.service.ts
  frontend-vinculacion/src/app/service/informe-inicial/informe-inicial/informe-inicial-http.service.spec.ts
  frontend-vinculacion/src/app/service/informe-inicial/informe-inicial/informe-inicial-http.service.ts
  frontend-vinculacion/src/app/service/informe-inicial/primer-formulario-inicial/primer-formulario-inicial-http.service.spec.ts
  frontend-vinculacion/src/app/service/informe-inicial/primer-formulario-inicial/primer-formulario-inicial-http.service.ts
  frontend-vinculacion/src/app/service/informe-inicial/segundo-formulario-inicial/segundo-formulario-inicial-http.service.spec.ts
  frontend-vinculacion/src/app/service/informe-inicial/segundo-formulario-inicial/segundo-formulario-inicial-http.service.ts
Labels: ready to approve, informe final-inicial(documento 2-9), generación de reportes

#265 update: pantalla de lista de estudiantes
  frontend-vinculacion/src/app/pages/coordinador-general/lista-estudiantes-general/lista-estudiantes-general-form/lista-estudiantes-general-form.component.css
  frontend-vinculacion/src/app/pages/coordinador-general/lista-estudiantes-general/lista-estudiantes-general-form/lista-estudiantes-general-form.component.html
  frontend-vinculacion/src/app/pages/coordinador-general/lista-estudiantes-general/lista-estudiantes-general-form/lista-estudiantes-general-form.component.spec.ts
  frontend-vinculacion/src/app/pages/coordinador-general/lista-estudiantes-general/lista-estudiantes-general-form/lista-estudiantes-general-form.component.ts
  frontend-vinculacion/src/app/pages/coordinador-general/lista-estudiantes-general/lista-estudiantes-general-search/lista-estudiantes-general-search.component.css
  frontend-vinculacion/src/app/pages/coordinador-general/lista-estudiantes-general/lista-estudiantes-general-search/lista-estudiantes-general-search.component.html
  frontend-vinculacion/src/app/pages/coordinador-general/lista-estudiantes-general/lista-estudiantes-general-search/lista-estudiantes-general-search.component.spec.ts
  frontend-vinculacion/src/app/pages/coordinador-general/lista-estudiantes-general/lista-estudiantes-general-search/lista-estudiantes-general-search.component.ts
  frontend-vinculacion/src/app/pages/coordinador-general/lista-estudiantes-general/lista-estudiantes-general.component.css
  frontend-vinculacion/src/app/pages/coordinador-general/lista-estudiantes-general/lista-estudiantes-general.component.html
  frontend-vinculacion/src/app/pages/coordinador-general/lista-estudiantes-general/lista-estudiantes-general.component.spec.ts
  frontend-vinculacion/src/app/pages/coordinador-general/lista-estudiantes-general/lista-estudiantes-general.component.ts
  frontend-vinculacion/src/app/pages/pages-routing.module.ts
  frontend-vinculacion/src/app/pages/pages.module.ts
Labels: coordinador general, ready to approve, portafolio

#286 Feature/cc/metodo post y update
  frontend-vinculacion/src/app/models/coordinador-carrera/person.ts
  frontend-vinculacion/src/app/pages/coordinador-carrera/agregar-rol/agregar-rol-add/agregar-rol-add.component.css
  frontend-vinculacion/src/app/pages/coordinador-carrera/agregar-rol/agregar-rol-add/agregar-rol-add.component.html
  frontend-vinculacion/src/app/pages/coordinador-carrera/agregar-rol/agregar-rol-add/agregar-rol-add.component.ts
  frontend-vinculacion/src/app/pages/coordinador-carrera/agregar-rol/agregar-rol-search/agregar-rol-search.component.html
  frontend-vinculacion/src/app/pages/coordinador-carrera/agregar-rol/agregar-rol-search/agregar-rol-search.component.ts
  frontend-vinculacion/src/app/pages/coordinador-carrera/rellenar-datos/rellenar-datos-form/rellenar-datos-form.component.html
  frontend-vinculacion/src/app/pages/coordinador-carrera/rellenar-datos/rellenar-datos-form/rellenar-datos-form.component.ts
  frontend-vinculacion/src/app/pages/docente-vinculacion/asignar-fundacion-vinculacion/asignar-fundacion-form/asignar-fundacion-form.component.ts
  frontend-vinculacion/src/app/pages/pages-routing.module.ts
  frontend-vinculacion/src/app/service/coordinador-carrera/agregar-rol/agregar-rol-http.service.ts
  frontend-vinculacion/src/app/service/coordinador-carrera/rellenar-datos/rellenar-datos-http.service.ts
  frontend-vinculacion/src/app/service/docente-vinculacion/asignar-fundacion-vinculacion/asignar-fundacion-vinculacion-http.service.ts
Labels: coordinador de carrera

#287 update:actualizar pantalla encuesta
  frontend-vinculacion/src/app/pages/encuesta/encuesta.component.css
  frontend-vinculacion/src/app/pages/encuesta/encuesta.component.html
Labels: encuesta(documento 8), generación de reportes

#290 feat:catalogo
  frontend-vinculacion/src/app/models/catalogo/TipoPersona.ts
  frontend-vinculacion/src/app/pages/coordinador-carrera/agregar-rol/agregar-rol-add/agregar-rol-add.component.ts
  frontend-vinculacion/src/app/pages/coordinador-carrera/agregar-rol/agregar-rol-search/agregar-rol-search.component.ts
  frontend-vinculacion/src/app/pages/coordinador-carrera/agregar-rol/rol-combobox/rol-combobox.component.ts
  frontend-vinculacion/src/app/service/catalogo/catalogo-http.service.spec.ts
  frontend-vinculacion/src/app/service/catalogo/catalogo-http.service.ts
  frontend-vinculacion/src/app/service/coordinador-carrera/agregar-rol/agregar-rol-http.service.ts
  frontend-vinculacion/src/app/service/persona/persona-http.service.ts
  frontend-vinculacion/src/app/service/tipo-persona/tipo-persona-http.service.spec.ts
  frontend-vinculacion/src/app/service/tipo-persona/tipo-persona-http.service.ts
Labels: confirmed, docente vinculacion, portafolio

#289 feat:crear metodo post para pregunta
  frontend-vinculacion/src/app/models/encuesta/encuesta.ts
  frontend-vinculacion/src/app/models/encuesta/pregunta.model.ts
  frontend-vinculacion/src/app/pages/encuesta/encuesta.component.css
  frontend-vinculacion/src/app/pages/encuesta/encuesta.component.html
  frontend-vinculacion/src/app/pages/encuesta/encuesta.component.ts
  frontend-vinculacion/src/app/service/encuesta/encuesta-http.service.ts
Labels: ready to approve, encuesta(documento 8), generación de reportes

#295 feat:metodo update para pregunta
  frontend-vinculacion/src/app/pages/encuesta/editar/editar.component.css
  frontend-vinculacion/src/app/pages/encuesta/editar/editar.component.html
  frontend-vinculacion/src/app/pages/encuesta/editar/editar.component.ts
  frontend-vinculacion/src/app/pages/pages-routing.module.ts
  frontend-vinculacion/src/app/pages/pages.module.ts
Labels: ready to approve, encuesta(documento 8), generación de reportes

#294 update :pantalla-estudiante
  frontend-vinculacion/src/app/pages/estudiante/estudiante/estudiante-formulario/estudiante-formulario.component.css
  frontend-vinculacion/src/app/pages/estudiante/estudiante/estudiante-formulario/estudiante-formulario.component.html
Labels: estudiante, ready to approve

#296 Feature/dv/292 list solicitud
  frontend-vinculacion/src/app/models/vista/vista.ts
  frontend-vinculacion/src/app/pages/docente-vinculacion/solicitud-vinculacion/solicitud-form/solicitud-form.component.html
  frontend-vinculacion/src/app/pages/docente-vinculacion/solicitud-vinculacion/solicitud-form/solicitud-form.component.ts
  frontend-vinculacion/src/app/service/tipo-persona/tipo-persona-http.service.spec.ts
  frontend-vinculacion/src/app/service/vista/vist-http.service.spec.ts
  frontend-vinculacion/src/app/service/vista/vist-http.service.ts
Labels: confirmed, docente vinculacion, portafolio

#301 Feature/en/300 crud pregunta eliminar
  frontend-vinculacion/src/app/pages/encuesta/encuesta.component.css
  frontend-vinculacion/src/app/pages/encuesta/encuesta.component.html
  frontend-vinculacion/src/app/pages/encuesta/encuesta.component.ts
Labels: ready to approve, encuesta(documento 8), generación de reportes

#302 update: pantalla lista fundacion
  frontend-vinculacion/src/app/models/vista/vistaFundacionEstudiante.ts
  frontend-vinculacion/src/app/pages/docente-tutor/lista-fundacion-tutor/lista-fundacion-tutor-buscar/lista-fundacion-tutor-buscar.component.css
  frontend-vinculacion/src/app/pages/docente-tutor/lista-fundacion-tutor/lista-fundacion-tutor-buscar/lista-fundacion-tutor-buscar.component.html
  frontend-vinculacion/src/app/pages/docente-tutor/lista-fundacion-tutor/lista-fundacion-tutor-buscar/lista-fundacion-tutor-buscar.component.spec.ts
  frontend-vinculacion/src/app/pages/docente-tutor/lista-fundacion-tutor/lista-fundacion-tutor-buscar/lista-fundacion-tutor-buscar.component.ts
  frontend-vinculacion/src/app/pages/docente-tutor/lista-fundacion-tutor/lista-fundacion-tutor-from/lista-fundacion-tutor-from.component.html
  frontend-vinculacion/src/app/pages/docente-tutor/lista-fundacion-tutor/lista-fundacion-tutor-from/lista-fundacion-tutor-from.component.ts
  frontend-vinculacion/src/app/pages/docente-vinculacion/solicitud-vinculacion/solicitud-form/solicitud-form.component.html
  frontend-vinculacion/src/app/pages/pages-routing.module.ts
  frontend-vinculacion/src/app/pages/pages.module.ts
  frontend-vinculacion/src/app/service/vista/vistaFundacionEstudiante/vista-fundacion-estudiante-http.service.spec.ts
  frontend-vinculacion/src/app/service/vista/vistaFundacionEstudiante/vista-fundacion-estudiante-http.service.ts
Labels: docente tutor, ready to approve, portafolio

#304 update: lista estudiante
  frontend-vinculacion/src/app/models/vista/vistaFundacionEstudiante.ts
  frontend-vinculacion/src/app/pages/coordinador-carrera/lista-estudiantes/lista-estudiantes-form/lista-estudiantes-form.component.html
  frontend-vinculacion/src/app/pages/coordinador-general/lista-estudiantes-general/lista-estudiantes-general-form/lista-estudiantes-general-form.component.html
  frontend-vinculacion/src/app/pages/docente-tutor/lista-estudiantes-tutor/lista-estudiante-tutor-buscar/lista-estudiante-tutor-buscar.component.css
  frontend-vinculacion/src/app/pages/docente-tutor/lista-estudiantes-tutor/lista-estudiante-tutor-buscar/lista-estudiante-tutor-buscar.component.html
  frontend-vinculacion/src/app/pages/docente-tutor/lista-estudiantes-tutor/lista-estudiante-tutor-buscar/lista-estudiante-tutor-buscar.component.spec.ts
  frontend-vinculacion/src/app/pages/docente-tutor/lista-estudiantes-tutor/lista-estudiante-tutor-buscar/lista-estudiante-tutor-buscar.component.ts
  frontend-vinculacion/src/app/pages/docente-tutor/lista-estudiantes-tutor/lista-estudiante-tutor-form/lista-estudiante-tutor-form.component.css
  frontend-vinculacion/src/app/pages/docente-tutor/lista-estudiantes-tutor/lista-estudiante-tutor-form/lista-estudiante-tutor-form.component.html
  frontend-vinculacion/src/app/pages/docente-tutor/lista-estudiantes-tutor/lista-estudiante-tutor-form/lista-estudiante-tutor-form.component.ts
  frontend-vinculacion/src/app/pages/docente-tutor/lista-fundacion-tutor/lista-fundacion-tutor-from/lista-fundacion-tutor-from.component.ts
  frontend-vinculacion/src/app/pages/pages-routing.module.ts
  frontend-vinculacion/src/app/pages/pages.module.ts
Labels: docente tutor, ready to approve, portafolio

#309 crear:metodo eliminar para respuesta actualizado
  frontend-vinculacion/src/app/models/encuesta/respuesta.model.ts
  frontend-vinculacion/src/app/pages/encuesta/respuesta/agregar-respuesta/agregar.component.css
  frontend-vinculacion/src/app/pages/encuesta/respuesta/agregar-respuesta/agregar.component.html
  frontend-vinculacion/src/app/pages/encuesta/respuesta/agregar-respuesta/agregar.component.ts
  frontend-vinculacion/src/app/pages/encuesta/respuesta/respuesta.component.css
  frontend-vinculacion/src/app/pages/encuesta/respuesta/respuesta.component.html
  frontend-vinculacion/src/app/pages/encuesta/respuesta/respuesta.component.ts
  frontend-vinculacion/src/app/pages/pages-routing.module.ts
  frontend-vinculacion/src/app/pages/pages.module.ts
  frontend-vinculacion/src/app/service/encuesta/respuesta-http.service.ts
Labels: ready to approve, encuesta(documento 8), generación de reportes

#307 Feature/cc/cambios esteticos
  frontend-vinculacion/src/app/models/docente-vinculacion/asignar-fundacion-vinculacion.ts
  frontend-vinculacion/src/app/pages/coordinador-carrera/agregar-rol/agregar-rol-add/agregar-rol-add.component.css
  frontend-vinculacion/src/app/pages/coordinador-carrera/agregar-rol/agregar-rol-add/agregar-rol-add.component.html
  frontend-vinculacion/src/app/pages/coordinador-carrera/agregar-rol/agregar-rol-add/agregar-rol-add.component.ts
  frontend-vinculacion/src/app/pages/coordinador-carrera/lista-estudiantes/lista-estudiantes-form/lista-estudiantes-form.component.html
  frontend-vinculacion/src/app/pages/coordinador-carrera/lista-estudiantes/lista-estudiantes-form/lista-estudiantes-form.component.ts
  frontend-vinculacion/src/app/pages/coordinador-carrera/lista-portafolios/lista-portafolios-form/lista-portafolios-form.component.html
  frontend-vinculacion/src/app/pages/coordinador-carrera/rellenar-datos/rellenar-datos-form/rellenar-datos-form.component.html
  frontend-vinculacion/src/app/pages/coordinador-carrera/rellenar-datos/rellenar-datos-form/rellenar-datos-form.component.ts
  frontend-vinculacion/src/app/pages/coordinador-carrera/rellenar-datos/rellenar-datos-selecct/rellenar-datos-select/rellenar-datos-select.component.css
  frontend-vinculacion/src/app/pages/coordinador-carrera/rellenar-datos/rellenar-datos-selecct/rellenar-datos-select/rellenar-datos-select.component.html
  frontend-vinculacion/src/app/pages/coordinador-carrera/rellenar-datos/rellenar-datos-selecct/rellenar-datos-select/rellenar-datos-select.component.spec.ts
  frontend-vinculacion/src/app/pages/coordinador-carrera/rellenar-datos/rellenar-datos-selecct/rellenar-datos-select/rellenar-datos-select.component.ts
  frontend-vinculacion/src/app/pages/docente-vinculacion/asignar-fundacion-vinculacion/asignar-fundacion-form/asignar-fundacion-form.component.html
  frontend-vinculacion/src/app/pages/pages.module.ts
  frontend-vinculacion/src/app/service/coordinador-carrera/rellenar-datos-select/rellenar-datos-select.service.ts
  frontend-vinculacion/src/app/shared/sidebar/sidebar.component.html
Labels: coordinador de carrera

#313 fix:problema con la main
  frontend-vinculacion/src/app/pages/coordinador-carrera/agregar-rol/agregar-rol-add/agregar-rol-add.component.ts
Labels: coordinador de carrera

#316 feat: imagenes para pestañas de proyecto
  frontend-vinculacion/src/assets/image/convenio.png
  frontend-vinculacion/src/assets/image/pdf.png
  frontend-vinculacion/src/assets/image/suma.png
  frontend-vinculacion/src/assets/image/visto.png
Labels: Pestañas de Proyecto, proyecto

#320 crear:metodo ediar y eliminar
  frontend-vinculacion/src/app/pages/encuesta/editar/editar.component.html
  frontend-vinculacion/src/app/pages/encuesta/encuesta.component.html
  frontend-vinculacion/src/app/pages/encuesta/respuesta/editar-respuesta/editar-respuesta.component.css
  frontend-vinculacion/src/app/pages/encuesta/respuesta/editar-respuesta/editar-respuesta.component.html
  frontend-vinculacion/src/app/pages/encuesta/respuesta/editar-respuesta/editar-respuesta.component.ts
  frontend-vinculacion/src/app/pages/encuesta/respuesta/respuesta.component.css
  frontend-vinculacion/src/app/pages/encuesta/respuesta/respuesta.component.html
  frontend-vinculacion/src/app/pages/encuesta/respuesta/respuesta.component.ts
  frontend-vinculacion/src/app/pages/pages-routing.module.ts
  frontend-vinculacion/src/app/pages/pages.module.ts
Labels: ready to approve, encuesta(documento 8), generación de reportes

#321 Feature/cc/solucionar problemas
  frontend-vinculacion/src/app/pages/coordinador-carrera/agregar-rol/agregar-rol-add/agregar-rol-add.component.html
  frontend-vinculacion/src/app/pages/coordinador-carrera/lista-estudiantes/lista-estudiantes-form/lista-estudiantes-form.component.html
Labels: coordinador de carrera

#327 update: editar y eliminar funcionales
  frontend-vinculacion/package-lock.json
  frontend-vinculacion/package.json
  frontend-vinculacion/src/app/pages/encuesta/encuesta.component.html
  frontend-vinculacion/src/app/pages/encuesta/encuesta.component.ts
  frontend-vinculacion/src/app/pages/encuesta/respuesta/agregar-respuesta/agregar.component.html
  frontend-vinculacion/src/app/pages/encuesta/respuesta/editar-respuesta/editar-respuesta.component.html
  frontend-vinculacion/src/app/pages/encuesta/respuesta/respuesta.component.html
  frontend-vinculacion/src/app/pages/encuesta/respuesta/respuesta.component.ts
Labels: ready to approve, encuesta(documento 8), generación de reportes

#332 update:pantalla portafolio
  frontend-vinculacion/src/app/models/vista/vistaPortafolioEstudiante.ts
  frontend-vinculacion/src/app/pages/docente-tutor/portafolio-tutor/portafolio-tutor-estudiante/portafolio-tutor-estudiante.component.ts
  frontend-vinculacion/src/app/pages/docente-tutor/portafolio-tutor/portafolio-tutor-formulario/portafolio-tutor-formulario.component.css
  frontend-vinculacion/src/app/pages/docente-tutor/portafolio-tutor/portafolio-tutor-formulario/portafolio-tutor-formulario.component.html
  frontend-vinculacion/src/app/pages/docente-tutor/portafolio-tutor/portafolio-tutor-formulario/portafolio-tutor-formulario.component.ts
  frontend-vinculacion/src/app/service/vista/vista-portafolio-estudiante/vista-portafolio-estudiante-http.service.spec.ts
  frontend-vinculacion/src/app/service/vista/vista-portafolio-estudiante/vista-portafolio-estudiante-http.service.ts
Labels: confirmed, docente tutor, portafolio

#333 Feature/dv/303 botones
  frontend-vinculacion/src/app/auth/login/login.component.html
  frontend-vinculacion/src/app/models/vista/vista-proyecto-fundacion.ts
  frontend-vinculacion/src/app/pages/docente-vinculacion/asignar-fundacion-vinculacion/asignar-fundacion-form/asignar-fundacion-form.component.html
  frontend-vinculacion/src/app/pages/docente-vinculacion/asignar-fundacion-vinculacion/asignar-fundacion-form/asignar-fundacion-form.component.ts
  frontend-vinculacion/src/app/pages/docente-vinculacion/proyecto-vinculacion/proyecto-form/proyecto-form.component.css
  frontend-vinculacion/src/app/pages/docente-vinculacion/proyecto-vinculacion/proyecto-form/proyecto-form.component.html
  frontend-vinculacion/src/app/pages/docente-vinculacion/solicitud-vinculacion/solicitud-form/solicitud-form.component.css
  frontend-vinculacion/src/app/pages/docente-vinculacion/solicitud-vinculacion/solicitud-form/solicitud-form.component.html
Labels: confirmed, docente vinculacion, portafolio

#335 Feature/gr/funcionamiento
  frontend-vinculacion/src/app/models/informe-control/avance-cumplimiento.ts
  frontend-vinculacion/src/app/models/informe-control/informe-control.ts
  frontend-vinculacion/src/app/models/informe-control/observacion-avance.ts
  frontend-vinculacion/src/app/pages/informe-control/avance-cumplimiento/avance-cumplimiento.component.html
  frontend-vinculacion/src/app/pages/informe-control/avance-cumplimiento/avance-cumplimiento.component.ts
  frontend-vinculacion/src/app/pages/informe-control/informe-control/informe-control.component.css
  frontend-vinculacion/src/app/pages/informe-control/informe-control/informe-control.component.html
  frontend-vinculacion/src/app/pages/informe-control/informe-control/informe-control.component.ts
  frontend-vinculacion/src/app/pages/informe-control/observacion-avance/observacion-avance.component.html
  frontend-vinculacion/src/app/service/informe-control/informe-control/informe-control-http.service.ts
Labels: informe de control, generación de reportes

#330 feat: pruebas respuesta realizadas
  frontend-vinculacion/src/app/pages/encuesta/agregar-pregunta/agregar-pregunta.component.css
  frontend-vinculacion/src/app/pages/encuesta/agregar-pregunta/agregar-pregunta.component.html
  frontend-vinculacion/src/app/pages/encuesta/agregar-pregunta/agregar-pregunta.component.ts
  frontend-vinculacion/src/app/pages/encuesta/editar/editar.component.html
  frontend-vinculacion/src/app/pages/encuesta/editar/editar.component.ts
  frontend-vinculacion/src/app/pages/encuesta/encuesta.component.html
  frontend-vinculacion/src/app/pages/encuesta/encuesta.component.ts
  frontend-vinculacion/src/app/pages/encuesta/respuesta/editar-respuesta/editar-respuesta.component.html
  frontend-vinculacion/src/app/pages/encuesta/respuesta/respuesta.component.ts
  frontend-vinculacion/src/app/pages/pages-routing.module.ts
  frontend-vinculacion/src/app/pages/pages.module.ts
Labels: ready to approve, encuesta(documento 8), generación de reportes

#334 feature:arreglo a pantallas
  frontend-vinculacion/src/app/models/vista/vistaListaRoles.ts
  frontend-vinculacion/src/app/pages/coordinador-carrera/agregar-rol/agregar-rol-add/agregar-rol-add.component.html
  frontend-vinculacion/src/app/pages/coordinador-carrera/lista-estudiantes/lista-estudiantes-form/lista-estudiantes-form.component.html
  frontend-vinculacion/src/app/pages/coordinador-carrera/lista-estudiantes/lista-estudiantes-form/lista-estudiantes-form.component.ts
  frontend-vinculacion/src/app/pages/coordinador-carrera/redireccionar/redireccionar-principal/redireccionar-principal.component.css
  frontend-vinculacion/src/app/pages/coordinador-carrera/redireccionar/redireccionar-principal/redireccionar-principal.component.html
  frontend-vinculacion/src/app/pages/docente-tutor/lista-fundacion-tutor/lista-fundacion-tutor-from/lista-fundacion-tutor-from.component.html
  frontend-vinculacion/src/app/service/vista/vistaFundacionEstudiante/vista-fundacion-estudiante-http.service.ts
  frontend-vinculacion/src/app/service/vista/vistaListaRoles/vista-lista-roles-http.service.spec.ts
  frontend-vinculacion/src/app/service/vista/vistaListaRoles/vista-lista-roles-http.service.ts
Labels: coordinador de carrera

#336 update:pantalla estudiante
  frontend-vinculacion/src/app/pages/estudiante/estudiante/estudiante-formulario/estudiante-formulario.component.css
  frontend-vinculacion/src/app/pages/estudiante/estudiante/estudiante-formulario/estudiante-formulario.component.html
  frontend-vinculacion/src/app/pages/estudiante/estudiante/estudiante-formulario/estudiante-formulario.component.ts
Labels: estudiante, ready to approve
